<div class="boilerplate">

  <div class="auth">
      <div class="container">
        <div class="auth__inner">
          <div class="auth__media">
            <%= image_tag('undraw_selfie1_kpqf.svg') %>
          </div>
          <div class="auth__auth">
            <h1 class="auth__title">Sign Up</h1>
            <p>Fill in your email and password to register</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :gender,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "gender" }%>
      <%= f.input :date_birth,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "date_birth" }%>
      <%= f.input :address,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "address" }%>
      <%= f.input :identity_card,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "identity_card" }%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign Up", :class => 'button button__accent' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

      </div>
        </div>
      </div>
    </div>
  <script src='js/app.min.js'></script>

</div>
