<div class="boilerplate">
  <div class="auth">
    <div class="container">
      <div class="auth__inner">

         <div class="auth__auth">
          <h1 class="auth__title">New Topic</h1>
          <p>Please specify Update elements</p>

            <%= simple_form_for [@patient, @topic], class: "simple_form", url: patient_topics_path, html: { method: :post } do |f| %>

            <%= render 'shared/errors', object: @topic %>
             <%#= f.error_notification %>

              <div class="form-inputs">
                 <%= f.input :title,
                            label: "Title",
                            required: true,
                            autofocus: true %>
                 <%= f.input :category_id,
                            label: "Category",
                            collection: Category.all.collect {|top| [top.subject, top.id] },
                            required: true,
                            input_html: { style: "padding: 0pt 20pt;"} %>
                <%= f.input :subcode,
                            label: "Category Subcode",
                            required: false  %>
                            <%#= @topic.subcode = "#{@topic.category.code}#{(1..9).sample(2)}" %>
              </div>

          <br>
              <div class="form-inputs">
                  <%= f.button :submit, "Create Topic", class: 'button button__accent' %>
                  <%= f.button :button, "Cancel", type: "reset", input_html: { style: 'background-color = red' }  %>
              </div>

            <% end %>

        </div>

      </div>
    </div>
  </div>
</div>
