<div class="container list-page topics content">
  <div class="row">
    <h2>Active Topics</h2>
  </div>

  <div class="row">
    <div class="action-header">

      <!-- Mobile header -->

      <div class="mobile">
         <div class="actions col-xs-12 text-center">
          <%= link_to "Add Topic", new_patient_topic_path, class: "btn btn-default" %>
          <br>
          <%= link_to "Health Log", patient_updates_path(@patient), class: "btn btn-default" %>
        </div>
      </div>

      <div class="search col-xs-12 col-md-6 mobile">
        <%= form_tag patient_topics_path, method: :get, class: "search-form" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a topic"
          %>
          <%= button_tag(type: 'submit', class: "btn btn-default") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>

      <!-- Desktop header -->

      <div class="search col-xs-12 col-md-6 desktop">
        <%= form_tag patient_topics_path, method: :get, class: "search-form" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a topic by category, topic, code or status"
          %>
          <%= button_tag(type: 'submit', class: "btn btn-search") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>

      <div class="desktop">
        <div class="actions col-xs-12 col-md-4 col-md-offset-2">
          <%= link_to "Add Topic", new_patient_topic_path, class: "btn btn-default" %>
          <br>
          <%= link_to "Health Log", patient_updates_path(@patient), class: "btn btn-default" %>
        </div>
      </div>

    </div>
  </div>

  <!-- Table container for data -->

  <div class="table-container">

    <!-- Header row -->

    <div class="header-row">
      <div class="row">
        <ul>
          <li class="col col-md-3">Topic</li>
          <li class="col col-md-3">Last Update</li>
          <li class="col col-md-2">Status</li>
          <li class="col col-md-4">Info</li>
        </ul>
      </div>
    </div>

    <!-- Each info row -->
    <% @topics.each do |topic| %>
      <% first_update = topic.updates.first %>
      <% last_update = topic.updates.last %>

      <div class="show-row">
        <ul class="item-row row">

          <div class="hidden-buttons">
            <%= link_to refresh_patient_topic_path(@patient, topic), class: "btn btn-default" do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to deactivate_patient_topic_path(@patient, topic), class: "btn btn-default" do %>
              <i class="far fa-trash-alt"></i>
            <% end %>

            <% if  %>

            <% else %>

            <% end %>
          </div>

          <li class="topic-title col col-xs-3">
            <%= image_tag("category_icons/#{topic.category.icon_url}", size: "40x40", class: "svg-icon", alt: "#{topic.category.subject.capitalize}") %>
            <p><strong><%= topic.title %></strong>
            <span class="small">(<%= topic.subcode %>)</span></p>
          </li>

          <li class="topic-doctor col col-xs-3">
            <div class="avatar-container">
              <%= image_tag(last_update.user.photo, class: "avatar-md", alt: "Dr. #{last_update.user.first_name} #{last_update.user.last_name}") %>
            </div>
            <div class="update">
              <p class="small"><strong><%= "Dr. #{last_update.user.first_name} #{last_update.user.last_name}" %></strong></p>
              <span class="small"><%= last_update.created_at.strftime("%d-%m-%Y") %></span>
            </div>
          </li>

          <% case last_update.topic_status %>
          <% when 'diagnosed' %>
            <% status_class = 'diagnosed' %>
          <% when 'under treatment' %>
            <% status_class = 'under_treatment' %>
          <% else %>
            <% status_class = 'cured' %>
          <% end %>

          <li class="topic-laststatus col-xs-2 text-center">
            <div class="signal <%= status_class %>">
              <p class="<%= status_class %>"><%= last_update.topic_status.capitalize %></p>
            </div>
          </li>

          <li class="topic-info col col-xs-4">

            <%= link_to patient_updates_path(@patient, query: topic.title), class: "btn btn-default #{"new-item" if topicNew(topic)[:updates]}" do %>

              <i class="fas fa-list-ul"></i><span> <%= topicActions(topic)[:updates].count %></span><span> Updates</span>

            <% end %>

            <%= link_to patient_documents_path(@patient, query: topic.title), class: "btn btn-default #{"new-item" if topicNew(topic)[:documents]}" do %>
              <i class="far fa-file-alt"></i><span> <%= topicActions(topic)[:documents].count %></span><span> Documents</span>
            <% end %>



            <%= link_to index_ex_patient_documents_path(@patient, query: topic.title), class: "btn btn-default #{"new-item" if topicNew(topic)[:exams]}" do %>
              <i class="far fa-chart-bar"></i><span> <%= topicActions(topic)[:exams].count %></span><span> Exams</span>
            <% end %>

            <%= link_to patient_schedules_path(@patient, query: topic.title), class: "btn btn-default #{"new-item" if topicNew(topic)[:schedules]}" do %>
              <i class="far fa-calendar-alt"></i><span> <%= topicActions(topic)[:schedules].count %></span><span> Prescriptions</span>

            <% end %>

          </li>

        </ul>

        <ul class="hidden-row">

          <% if last_update.next_steps.count.zero? %>
            <li class="topic-current col col-xs-12 col-sm-12">
              <p><strong>Current Analysis</strong></p>
              <p><%= last_update.diagnosis %></p>
            </li>
          <% else %>
            <li class="topic-current col col-xs-12 col-sm-8">
              <p><strong>Current Analysis</strong></p>
              <p><%= last_update.diagnosis %></p>
            </li>
            <li class="topic-ns col col-xs-12 col-sm-4">
              <p><strong>Next Steps</strong></p>
              <ul>
                <% last_update.next_steps.each do |ns| %>
                  <li><%= ns %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    </div>
  </div>
</div>
