<div class="container list-page updates content">
  <div class="row">
    <h2><%= @schedules.first.topic.title %> Schedules index</h2>
  </div>

  <div class="row">
    <div class="action-header">

      <!-- Mobile action buttons -->

      <div class="mobile">
         <div class="actions col-xs-12 text-center">
          <%= link_to "Add Document", new_patient_document_path, class: "btn btn-default" %>
        </div>
      </div>

      <!-- Search bar -->

      <div class="search col-xs-12 col-md-6">
        <%= form_tag patient_documents_path, method: :get, class: "search-form" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a document by category, title or doctor"
          %>
          <%= button_tag(type: 'submit', class: "btn btn-search") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>

      <!-- Desktop action buttons  -->

      <div class="desktop">
        <div class="actions col-xs-12 col-md-4 col-md-offset-2">
          <%= link_to "New/Add Schedule", new_patient_schedule_path(@patient), class: "btn btn-default" %>
          <br>
          <%= link_to "Back to Topics", patient_topics_path(@patient), class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Table container for data -->

  <div class="table-container">

    <!-- Header row -->

    <div class="header-row">
      <div class="row">
        <ul>
          <li class="col col-md-3">Description</li>
          <li class="col col-md-2">Schedule</li>
          <li class="col col-md-3">Period</li>
          <li class="col col-md-2">Uploaded by</li>
           <li class="col col-md-2">Actions</li>

        </ul>
      </div>
    </div>

    <!-- Each info row -->
    <% @schedules.each do |sch| %>


      <div class="show-row">
        <ul class="item-row row">

          <li class="topic-title col col-xs-7 col-sm-5 col-md-3">
              <p><strong><%= sch.sc_type %></strong><br>
              <span class="small code"><%= sch.sc_title %></span>
              <br><span class="small code">(topic: <%= sch.topic.title %>)</span></p>
          </li>

          <li class="topic-title col col-xs-7 col-sm-5 col-md-2">
              <p><strong><%= sch.schedule %></strong>
              <span class="small code">(<%= sch.dosage %>)</span><br>
              <span class="small code" style="color: orange">(<%= sch.notes %>)</span></p>
          </li>

          <% case sch.status %>
            <% when 'inactive' %>
              <% status_class = 'cured' %>
            <%# when 'under treatment' %>
              <%# status_class = 'under_treatment' %>
            <% else %>
              <% status_class = 'under_treatment' %>
          <% end %>

          <li class="topic-laststatus col col-xs-7 col-sm-5 col-md-3">
              <p class="mobile-date"><%= sch.date_start.strftime("%d-%m-%Y") %></p>
              <p class="mobile-date"><%= sch.date_end.strftime("%d-%m-%Y") %></p>
              <div class="signal <%= status_class %>">
              <p class="<%= status_class %> website"><%= sch.status.capitalize %></p>
            </div>
          </li>

          <li class="topic-doctor col col-xs-2 col-sm-2 col-md-2" style="margin:0px;">
            <%= cl_image_tag(sch.user.photo, class: "avatar-md", alt: "Dr. #{sch.user.first_name} #{sch.user.last_name}") %>
            <div class="update website">
              <p class="desktop"><%= "#{sch.user.first_name} #{sch.user.last_name}" %></p>
              <%# if sch.user.user_type == "doctor" %>
            <!--     <p class="small desktop"><%= sch.user.doc_specialties.join(", ") %></p> -->
              <%# end %>
            </div>
          </li>

<!-- Status -->



          <li class="update-changes col col-sm-3 col-md-2">

              <p><%= link_to edit_patient_schedule_path(@patient,sch), class: "" do %>
                <i class="fas fa-list-ul"></i><span></span><span class="small"> Edit</span>
              <% end %></p>


              <p><%= link_to deactivate_patient_schedule_path(@patient,sch), class: "" do %>
                <i class="far fa-calendar-alt"></i><span> <%#= @document.topic.schedules.where(status: 'active').count %></span><span class="small"> Deactivate</span>
              <% end %></p>

          </li>

        </ul>

      </div>
    <% end %>

    </div>
  </div>

<!-- </div> -->
