<div class="container list-page schedules content">
  <div class="row">
    <h2>Prescriptions</h2>
  </div>

  <div class="row">
    <div class="action-header">

      <!-- Mobile header -->

      <div class="mobile">
         <div class="actions col-xs-12 text-center">
          <%= link_to "Add Prescription", "#", class: "btn btn-default" %>
          <br>
          <%= link_to "Health Topics", patient_topics_path(@patient), class: "btn btn-default" %>
        </div>
      </div>

      <div class="search col-xs-12 col-md-6 mobile">
        <%= form_tag patient_schedules_path, method: :get, class: "search-form" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a prescription"
          %>
          <%= button_tag(type: 'submit', class: "btn btn-search") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>

      <!-- Desktop header  -->

      <div class="search col-xs-12 col-md-6 desktop">
        <%= form_tag patient_schedules_path, method: :get, class: "search-form" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find by name, type, topic, code or uploader"
          %>
          <%= button_tag(type: 'submit', class: "btn btn-search") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>

      <div class="desktop">
        <div class="actions col-xs-12 col-md-4 col-md-offset-2">
          <%= link_to "Add Prescription", "#", class: "btn btn-default" %>
          <br>
          <%= link_to "Health Topics", patient_topics_path(@patient), class: "btn btn-default" %>
        </div>
      </div>

    </div>
  </div>

  <!-- Table container for data -->

  <div class="table-container">

    <!-- Header row -->

    <div class="header-row">
      <div class="row">
        <ul>
          <li class="col col-xs-3">Prescription</li>
          <li class="col col-xs-3">Info</li>
          <li class="col col-xs-3">Created By</li>
          <li class="col col-xs-3">Topic</li>
        </ul>
      </div>
    </div>

    <!-- Each info row -->
    <% if @schedules.count.zero? %>
      <p class="nothing">Nothing to show</p>
    <% end %>

    <% button_counter = 1 %>

    <% @schedules.each do |schedule| %>

      <div class='show-row'>

        <ul class="item-row row">

          <% if schedule.read_by.nil? %>
            <%= link_to read_patient_schedule_path(@patient, schedule, query: params[:query]), class: "new-flag" do %>
              <i class="fas fa-exclamation-circle fa-lg"></i>
            <% end %>
          <% end %>

          <div class="hidden-buttons">
            <%= link_to "#", class: "btn btn-default" do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to deactivate_patient_schedule_path(@patient, schedule), class: "btn btn-default" do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>

          <li class="schedule-type col-xs-3">
            <p><strong><%= schedule.sc_title %></strong></p>
          </li>

          <li class="schedule-info col col-xs-3">
            <p><strong><%= schedule.sc_type %></strong></p>
            <div class="schedule-data">
              <% unless schedule.schedule.nil? && schedule.dosage.nil? %>
                <% if schedule.dosage.nil? %>
                  <p class="small"><i class="fas fa-calendar-alt"></i> <%= schedule.schedule %></p>
                <% else %>
                  <p class="small"><i class="fas fa-calendar-alt"></i> <%= schedule.schedule %> <span class="small">(<%= schedule.dosage %>)</span></p>
                <% end %>
              <% end %>
              <p class="small"><i class="fas fa-play-circle"></i> <%= schedule.date_start.strftime('%d-%m-%y') %></p>
              <% unless schedule.date_end.year == 9999 %>
                <p class="small"><i class="fas fa-pause-circle"></i> <%= schedule.date_end.strftime('%d-%m-%y') %></p>
              <% end %>
            </div>
          </li>

          <li class="schedule-user col col-xs-3">
            <div class="avatar-container">
              <%= cl_image_tag(schedule.user.photo, class: "avatar-md", alt: "#{'Dr. ' if schedule.user.user_type == 'doctor'}#{schedule.user.first_name} #{schedule.user.last_name}") %>
            </div>
            <div class="schedule">
              <p><strong><%= "#{'Dr. ' if schedule.user.user_type == 'doctor'} #{schedule.user.first_name} #{schedule.user.last_name}" %></strong></p>
              <p class="small"><%= schedule.created_at.strftime("%d-%m-%y") %></p>
            </div>
          </li>

          <li class="topic-title col col-xs-3">
            <%= image_tag("category_icons/#{schedule.topic.category.icon_url}", size: "40x40", class: "svg-icon", alt: "#{schedule.topic.category.subject.capitalize}") %>
            <p><%= schedule.topic.title %>
            <span class="small code">(<%= schedule.topic.subcode %>)</span></p>
          </li>

          <button class="more-button" data-toggle="collapse" data-target="#hidden-row-<%= button_counter %>"><i class="fas fa-info-circle"></i></button>
        </ul>

        <div class="collapse" id="hidden-row-<%= button_counter %>">
          <ul class="hidden-row">
            <li class="schedule-notes col col-xs-12 col-sm-12">
              <p><strong>Notes</strong></p>
              <p><%= schedule.notes %></p>
            </li>
          </ul>
        </div>
      </div>

    <% button_counter += 1 %>
    <% end %>
    </div>
  </div>
</div>

