<div class="container list-page updates content">

  <div class="row">

    <div class="form-label-group custom-select form-select">

      <%= simple_form_for [@patient, @document], class: "simple_form", url: patient_documents_path, html: { method: :post } do |f| %>
        <%= render 'shared/errors', object: @document %>
        <%= f.error_notification %>
        <%= f.input :doc_title %>
        <%= f.input :file %>
        <%= f.input :file_cache, as: :hidden %>

        <%= f.button :submit, class: "btn-primary" %>
        <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
        <% end %>

        <%#= f.input :id %>
        <%#= f.input :topic_id %>
        <%#= f.input :user_id %>
        <%#= f.input :doc_type %>
        <%#= f.text_field :exam_type%>
        <%#= f.input :tags %>
        <%#= f.input :url %>
        <%#= f.input :file_type %>
        <%#= f.input :status %>
        <%#= f.input :created_at %>
        <%#= f.input :updated_at %>
        <%#= f.text_area :image_data %>
        <%#= f.input :image_data %>

    </div>
  </div>
</div>
