<%= form_with(model: [@patient, @document] local: true, :html => {:class => "form-horizontal center"}) do |form| %>

<%#= form_with model: @document do |form| %>

  <div class="field">
    <!--  document.image or form.object -->
    <% if form.image.present? %>
      <%= image_tag form.object.image_url, style: 'height:300px; width:auto;' %>
      <div>
        <%= label_tag 'remove' do %>
          Remove image
          <%= form.check_box :remove_image %>
        <% end %>
      </div>
    <% end %>

    <%= form.label :image, class:"col-md-4 control-label"  %>
    <%#= form.text_area :image_data %>

    <!-- LOST THE CACHE IMAGE WITH CLOUDINARY -->
    <%#= form.hidden_field :image, value: form.object.cached_image_data %>

    <%= form.file_field :image, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :doc_title %>
    <%= form.text_area :doc_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

