<%#= form_with(model: document, local: true, :html => {:class => "form-horizontal center"}) do |form| %>

<%= form_with(model: document, local: true, :html => {:class => "form-horizontal center"}) do |form| %>

  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!--  document.image or form.object -->
    <% if document.image.present? %>
      <%= image_tag document.image_url, style: 'height:300px; width:auto;' %>
      <div>
        <%= label_tag 'remove' do %>
          Remove image
          <%= form.check_box :remove_image %>
        <% end %>
      </div>
    <% end %>

    <%= form.label :image, class:"col-md-4 control-label"  %>
    <%#= form.text_area :image_data %>

    <!-- LOST THE CACHE IMAGE WITH CLOUDINARY -->
    <%#= form.hidden_field :image, value: form.object.cached_image_data %>
    <%= form.file_field :image, class:"form-control" %>
  </div>

  <!-- <div class="field">
    <%#= form.label :description %>
    <%#= form.text_area :description %>
  </div> -->

  <div class="radio">
        <%= form.radio_button true, 'yes', :checked => true %> I will attend.
        <br />
        <%= form.radio_button true, 'no', :checked => false %> I will not attend.
      </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<%# end %>
