<div class="container list-page updates content">
  <div class="row">
    <h2>Topic's Documents</h2>
  </div>

  <div class="row">
    <div class="action-header">

      <!-- Mobile action buttons -->

      <div class="mobile">
         <div class="actions col-xs-12 text-center">
          <%= link_to "Add Document", new_patient_document_path, class: "btn btn-default" %>
          <br>
          <%= link_to "All Documents", patient_documents_path(@documents), class: "btn btn-default" %>
        </div>
      </div>

      <!-- Search bar -->

      <div class="search col-xs-12 col-md-6">
        <%= form_tag patient_documents_path, method: :get, class: "search-form" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a document by category, title or doctor"
          %>
          <%= button_tag(type: 'submit', class: "btn btn-search") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>

      <!-- Desktop action buttons  -->

      <div class="desktop">
        <div class="actions col-xs-12 col-md-4 col-md-offset-2">
          <%= link_to "Add Document", new_patient_document_path, class: "btn btn-default" %>
          <br>
          <%= link_to "All Documents", patient_documents_path, class: "btn btn-default" %>
          <br>
           <%= link_to "Back to Topics", patient_topics_path(@patient), class: "btn btn-default" %>

        </div>
      </div>
    </div>
  </div>

  <!-- Table container for data -->

  <div class="table-container">

    <!-- Header row -->

    <div class="header-row">
      <div class="row">
        <ul>
          <li class="col col-md-5">Document</li>

          <li class="col col-md-3">Uploaded by</li>
          <li class="col col-md-2">File_type</li>
           <li class="col col-md-2">Status</li>
        </ul>
      </div>
    </div>

    <!-- Each info row -->
    <% @documents.each do |document| %>


      <div class="show-row">
        <ul class="item-row row">

<!-- TUMB => Eliminar... -->

          <li class="topic-title col col-xs-7 col-sm-5 col-md-4">
            <% if document.file? %>
              <%= cl_image_tag(document.file.url,  size: "40x40", class: "svg-icon desktop")%>
              <p><strong><%= document.doc_title %></strong>
              <span class="small code">(<%= document.doc_title %>)</span></p>
              <p class="mobile-date"><%= document.created_at.strftime("%d-%m-%Y") %></p>
            <% end %>
          </li>

<!-- DOC TYPE -->

          <li class="topic-doctor col col-xs-2 col-sm-2 col-md-2" style="margin:0px;">
            <%= cl_image_tag(document.user.photo, class: "avatar-md") %>
            <div class="update website">
              <p class="desktop"><%= "Dr. #{document.user.first_name} #{document.user.last_name}" %></p>
              <% if document.user.user_type == "doctor" %>
                <p class="small desktop"><%= document.user.doc_specialties.join(", ") %></p>
              <% end %>
            </div>
          </li>

<!-- DOC TYPE -->

          <li class="topic-doctor col col-xs-2 col-sm-2 col-md-2" style="margin:0px;">
            <% if document.file? %>
              <div  class="avatar-md" style="align-items: center">
                <%#= cl_image_tag("#{document.file.url.split(".").last}.svg", class: "avatar-md") %>
                <p style="">
                <%= show_svg("file_icons/#{document.file.url.split(".").last}.svg") %>
                </p>
              </div>
             <!--  <div class="update website">
               <span class="desktop"><%#= document.file.url.split(".").last %></span>
              </div> -->
            <% end %>
          </li>

<!-- Status -->

          <% case document.status %>
          <% when 'inactive' %>
            <% status_class = 'cured' %>
          <%# when 'under treatment' %>
            <%# status_class = 'under_treatment' %>
          <% else %>
            <% status_class = 'under_treatment' %>
          <% end %>

          <li class="doc-laststatus col-xs-6 col-sm-2 col-md-2 style="margin:0px;">
            <div class="signal <%= status_class %>" style="margin:0px;">
              <p class="<%= status_class %> website" style="margin:0px;"><%= document.status.capitalize %></p>
            </div>
          </li>

<!-- CRUD -->
            <% x = document.file.url || nil %>
            <% if x.present?  %>

              <li class="update-changes col col-sm-3 col-md-2">
                <p><%= link_to document.file.url, target: '_blank' do %>
                  <i class="fas fa-list-ul"></i><span></span><span class="small"> Show</span>
                <% end %></p>

                <p><%= link_to x.sub('upload/','upload/fl_attachment/') do %>
                  <i class="fas fa-list-ul"></i><span></span><span class="small"> Download</span>
                <% end %></p>

                <p><%= link_to deactivate_patient_document_path(@patient,document) do %>
                  <i class="far fa-calendar-alt"></i><span class="small"> Deactivate</span>
                <% end %></p>

                <p><%= link_to patient_documents_path do %>
                  <i class="far fa-calendar-alt"></i><span class="small"> Delete</span>
                <% end %></p>
              </li>
            <% end %>
        </ul>

      </div>
    <% end %>

    </div>
  </div>

<!-- </div> -->

