<div class="container list-page docs">

  <div class="row">
    <div class="action-header">

      <!-- Mobile action buttons -->

      <div class="mobile">
         <div class="actions col-xs-12 text-center">
          <%#= link_to "Topic Documents", patient_document_path(@document.topic), class: "btn btn-default" %>
          <br>
          <%#= link_to "All Documents", patient_documents_path(), class: "btn btn-default" %>
        </div>
      </div>

      <!-- Search bar -->

     <!--  <div class="search col-xs-12 col-md-6">
        <%#= form_tag patient_documents_path, method: :get, class: "search-form" do %>
          <%#= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a document by category, title or doctor"
          %>
          <%#= button_tag(type: 'submit', class: "btn btn-search") do %>
            <i class="fas fa-search"></i>
          <%# end %>
        <%# end %>
      </div> -->

      <!-- Desktop action buttons  -->

      <div class="desktop">
        <div class="actions col-xs-12 col-md-4 col-md-offset-2">
          <%#= link_to "Topic Documents", patient_document_path(@document.topic), class: "btn btn-default" %>
          <br>
          <%#= link_to "All Documents", patient_documents_path, class: "btn btn-default" %>
        </div>
      </div>

    </div>
</div>

  <!-- Table container for data -->
  <p id="notice"><%= notice %></p>
<div class="table-container", style="background-color: $l-gray;">

  <h2 class="header-row"><%= @document.topic.title %></h2>



  <div class="show-row">
    <ul class="item-row row">
      <li class="doc-tumb col-xs-12 col-sm-6 col-md-9", style="flex-direction: space-around">
        <%= cl_image_tag @document.image_url, class:"doc-tumb col col-md-12", style: 'border: 1px solid lightgrey; height:300px; width:auto;' %>
     </li>

    <li class="doc-info col col-xs-12 col-sm-3 col-md-1" style="margin-left: 20px">


            <%#= link_to patient_document_path(@patient, @document.id), class: "btn btn-default", style: "color:blue; width:100px;" do %>
            <%= link_to @document.image_url, class: "btn btn-default", style: "color:blue; width:100px;" do %>

             <i class="fas fa-list-ul"></i><span class="website"> Show</span>
            <% end %>

            <%= link_to edit_patient_document_path(@patient, @document), class: "btn btn-default", style: "color:blue; width:100px;" do %>
              <i class="far fa-file-alt"></i><span> <%#= @documents.where(status: 'active').count - document.topic.where(status: 'active', doc_type: 'Exam').count %></span><span class="website"> Edit</span>
            <% end %>

            <%#= link_to 'download', root_path << @document.image_url %>
            <%#= link_to "Download", @document.image_url, download:true %>
            <%= link_to download_patient_document_path, class: "btn btn-default", style: "color:blue; width:100px;" do %>
              <i class="far fa-chart-bar"></i><span> <%#= @documents.where(status: 'active', doc_type: 'Exam').count %></span><span class="website"> Download</span>
            <% end %>

              <br>
              <a href=%= <% @document.image_url %> download>Dowload a href</a>
              <br>

              <a href=<%= @document.image_url %> download>
                <img src=<%= @document.image_url %> alt="W3Schools">AOGORA
              </a>



            <%= link_to deactivate_patient_document_path(@patient, @document), class: "btn btn-default", style: "color:blue; width:100px;" do %>
              <i class="far fa-calendar-alt"></i><span> <%#= @document.topic.schedules.where(status: 'active').count %></span><span class="website"> Deactivate</span>
            <% end %>
   </li>




  </ul>
</div>
<br>
<div class="header-row">
    <div class="row">
      <ul>
        <li class="col col-md-2">Type</li>
        <li class="col col-md-5">Title</li>
        <li class="col col-md-3">Uploaded by</li>
        <li class="col col-md-2">File_type</li>
         <li class="col col-md-2">Status</li>

      </ul>
    </div>
  </div>

<div class="show-row">
        <ul class="item-row row">
          <li class="doc-title col col-xs-6 col-sm-2 col-md-2">
            <p><strong><%= @document.doc_type %></strong><br>(<%= @document.exam_type %>)</p>
          </li>

          <li class="doc-title col col-xs-6 col-sm-2 col-md-5">
            <p><strong><%= @document.doc_title %></strong></p>
          </li>

          <li class="doc-tumb col col-xs-6 col-sm-2 col-md-3">
            <%= image_tag(@document.user.photo, class: "avatar-md") %>
            <div class="update website">
                <p><%= "#{@document.user.first_name} #{@document.user.last_name}" %></p>
              <span class="small"><%= @document.created_at.strftime("%d-%m-%Y") %></span>
            </div>
          </li>

          <li class="doc-tumb col-xs-12 col-sm-6 col-md-2">
            <% if @document.image_data? %>
              <div style="width:50px;">
                <%= show_svg("file_icons/#{@document.file_type}.svg") %>
               <span class="small"><%= @document.image.metadata["mime_type"] %></span>
               <span class="small"><%= @document.image_data.size %>kb</span>
              </div>
            <% end %>
          </li>

  <% case @document.status %>
          <% when 'inactive' %>
            <% status_class = 'cured' %>
          <%# when 'under treatment' %>
            <%# status_class = 'under_treatment' %>
          <% else %>
            <% status_class = 'under_treatment' %>
          <% end %>

          <li class="doc-laststatus col-xs-6 col-sm-2 col-md-2">
            <div class="signal <%= status_class %>" style="margin-right: 0;">
              <p class="<%= status_class %> website"><%= @document.status.capitalize %></p>
            </div>
          </li>

          <li class="doc-info col col-xs-12 col-sm-3 col-md-2" >


          </li>
        </ul>
      </div>



<div class="header-row" style="background-color: whitesmoke;color:grey">
    <div class="row">
      <ul>
        <li class="doc-title col col-md-2">Type</li>
        <li class="doc-title col col-md-2">Title</li>
        <li class="doc-title col col-md-3">Uploaded by</li>
        <li class="doc-title col col-md-2">File_type</li>
         <li class="doc-title col col-md-2">Status</li>
      </ul>
    </div>
  </div>


<div class="show-row">



  <ul class="item-row row">
    <li class="doc-title col col-xs-6 col-sm-2 col-md-2">
      <p><strong><%= @document.doc_type %></strong>
    </li>

    <li class="doc-title col col-xs-6 col-sm-2 col-md-2">
      <p>Filename: <%= @document.image.metadata["filename"] %></p>
    </li>

    <li class="doc-title col col-xs-6 col-sm-2 col-md-2">
      <p>Descrição: <%= @document.doc_title %></p>
    </li>

    <li class="doc-title col col-xs-6 col-sm-2 col-md-2">
      <p>Storage: <%= @document.image.storage %></p>
    </li>

    <li class="doc-title col col-xs-6 col-sm-2 col-md-2">
      <p>Mime_type: <%= @document.image.metadata["mime_type"] %></p>
    </li>

    <li class="doc-title col col-xs-6 col-sm-2 col-md-2">
      <p>Size: <%= @document.image.metadata["size"] %></p>
    </li>

    <li class="doc-title col col-xs-6 col-sm-2 col-md-2">
      <p>Width: <%= @document.image.metadata["width"] %></p>
    </li>

    <li class="doc-title col col-xs-6 col-sm-2 col-md-2">
      <p>Height: <%= @document.image.metadata["height"] %></p>
    </li>



        </ul>

</div>




<div style="background-color: lightblue">
  <%#= link_to 'Edit', edit_document_path(@document) %>
  <%#= link_to 'Back', patient_documents_path %>
</div>

  </div>
</div>

