<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong><br>
  <% if @document.image.present? %>
    <%= image_tag @document.image_url, style: 'height:300px; width:auto;' %>
  <% end %>
</p>

<h2>Dados:</h2>
  <% @documents.each do |document| %>
      <% if document.image %>
        <%= image_tag(document.image_url, size:"40") if document.image_data? %>
          <%= document.image.metadata["filename"] %>
          <%= document.image.metadata["mime_type"] %>
          <%= document.topic %>
          <%= document.image.metadata["size"] %>
         <%= document.image.metadata["width"] %>
          <%= document.image.metadata["height"] %>
<p>Filename: <%= @document.image.metadata["filename"] %></p>
<p>Descrição: <%= @document.description %></p>
<p>Storage: <%= @document.image.storage %></p>
<p>Mime_type: <%= @document.image.metadata["mime_type"] %></p>
<p>Size: <%= @document.image.metadata["size"] %></p>
<p>Width: <%= @document.image.metadata["width"] %></p>
<p>Height: <%= @document.image.metadata["height"] %></p>

<div style="background-color: lightblue">
  <%= link_to 'Edit', edit_document_path(@document) %> |
  <%= link_to 'Back', documents_path %>
</div>
