<div class="container dash-page content">

  <div class="row">

    <div class="dash-left col-xs-4">
      <div class="affix">
        <div class="dash-profile">
          <div class="patient-card">
            <div class="avatar-container">
              <%= cl_image_tag(@patient.photo, class: "avatar-md", alt: "#{@patient.first_name} #{@patient.last_name}") %>
            </div>

            <div class="patient-info">
              <p class="patient-name"><%= @patient.first_name %> <%= @patient.last_name %></p>
              <div class="last-row">
                <p class="patient-location smaller"><i class="fas fa-map-marker-alt"></i> <%= @patient.address %></p>
                <p class="patient-data smaller">
                  <span><i class="fas fa-id-card"></i> <%= age(@patient.date_birth) %></span>
                  <span><i class="fas fa-tint"></i> <%= @patient.pat_blood %></span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="dash-doctors">
          <div class="doctor-head">
            <h3>Doctors</h3>

            <div class="doctor-head-icons">
              <%= link_to doctors_patient_path(@patient), class: "btn btn-default" do %>
                <i class="fas fa-search-plus fa-lg"></i>
              <% end %>
            </div>
          </div>

          <div class="doctor-list">
            <% @doctors.each do |doctor| %>
              <% rel = DoctorPatient.where(doctor: doctor, patient: @patient, status: 'active').last %>
              <% doctor_name = "#{doctor.first_name} #{doctor.last_name}" %>
              <%= link_to doctors_patient_path(@patient, query: doctor_name) do %>
                <ul>
                  <li style="width: 25%">
                    <%= cl_image_tag(doctor.photo, class: "avatar-sm", alt: "#{"Dr. " if doctor.user_type == 'doctor' } #{doctor.first_name} #{doctor.last_name}") %>
                  </li>
                  <li style="width: 75%">
                    <p class="name">Dr. <%= doctor.first_name %> <%= doctor.last_name %></p>
                    <p><%= doctor.doc_specialties[0] %></p>
                </ul>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% pat_topics = @patient.topics.where(status: 'active') %>
    <% pat_updates = patientActions(@patient)[:updates] %>
    <% pat_documents = patientActions(@patient)[:documents] %>
    <% pat_exams = patientActions(@patient)[:exams] %>
    <% pat_schedules = patientActions(@patient)[:schedules] %>

    <div class="dash-right col-xs-8">

      <div class="dash-topics">

        <% status_counter = statusCount(@patient) %>

        <div class="dash-topics-info dash-diagnosed col-xs-4">
        <button data-toggle="collapse" data-target="#dash-topic-list-diagnosed">
          <div class="dash-topic-header">
            <h2><%= status_counter[:diagnosed] %></h2>
            <h3>Diagnosed</h3>
          </div>
        </button>
        </div>

        <div class="dash-topics-info dash-under col-xs-4">
        <button data-toggle="collapse" data-target="#dash-topic-list-under">
          <div class="dash-topic-header">
            <h2><%= status_counter[:treatment] %></h2>
            <h3>Under Treatment</h3>
          </div>
        </button>
        </div>

        <div class="dash-topics-info dash-cured col-xs-4">
        <button data-toggle="collapse" data-target="#dash-topic-list-cured">
          <div class="dash-topic-header">
            <h2><%= status_counter[:cured] %></h2>
            <h3>Cured</h3>
          </div>
        </button>
        </div>

      </div>

      <div class="dash-topics-lists">

        <div class="dash-topic-list collapse" id="dash-topic-list-diagnosed">
          <% pat_topics.each do |topic| %>
            <% if topic.updates.last.topic_status == 'diagnosed' %>
              <% last_update = topic.updates.last %>
              <div class="dash-topic">
                <%= link_to patient_updates_path(@patient, query: topic.title) do %>
                  <ul style="width: 100%; min-width: 100%;">
                    <li style="width: 5%">
                      <i class="fas fa-circle fa-lg"></i>
                    </li>
                    <li style="width: 35%" class="dash-topic-title"><p> <strong><%= topic.title %></strong> <span class="small code">(<%= topic.subcode %>)</span></p></li>
                    <li style="width: 35%" class="dash-topic-category">
                      <%= image_tag("category_icons/#{last_update.topic.category.icon_url}", size: "40x40", class: "svg-icon-gray", style: "color: grey", alt: "#{last_update.topic.category.subject.capitalize}") %>
                      <div class="subject"><%= last_update.topic.category.subject %></div>
                    </li>
                    <li style="width: 35%">
                      <p>Updated: <strong><%= last_update.created_at.strftime('%d-%m-%y') %></strong></p>
                      <p class="last-by">By: <strong><%= "Dr. " if last_update.user.user_type == 'doctor' %><%= last_update.user.first_name %> <%= last_update.user.last_name %></strong></p>
                    </li>
                  </ul>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="dash-topic-list collapse" id="dash-topic-list-under">
          <% pat_topics.each do |topic| %>
            <% if topic.updates.last.topic_status == 'under treatment' %>
              <% last_update = topic.updates.last %>
              <div class="dash-topic">
                <%= link_to patient_updates_path(@patient, query: topic.title) do %>
                  <ul style="width: 100%; min-width: 100%;">
                    <li style="width: 5%">
                      <i class="fas fa-circle fa-lg"></i>
                    </li>
                    <li style="width: 35%" class="dash-topic-title"><p>  <strong><%= topic.title %></strong> <span class="small code">(<%= topic.subcode %>)</span></p></li>
                    <li style="width: 35%" class="dash-topic-category">
                      <%= image_tag("category_icons/#{last_update.topic.category.icon_url}", size: "40x40", class: "svg-icon-gray", style: "color: grey", alt: "#{last_update.topic.category.subject.capitalize}") %>
                      <div class="subject"><%= last_update.topic.category.subject %></div>
                    </li>
                    <li style="width: 35%">
                      <p>Updated: <strong><%= last_update.created_at.strftime('%d-%m-%y') %></strong></p>
                      <p class="last-by">By: <strong><%= "Dr. " if last_update.user.user_type == 'doctor' %><%= last_update.user.first_name %> <%= last_update.user.last_name %></strong></p>
                    </li>
                  </ul>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="dash-topic-list collapse" id="dash-topic-list-cured">
          <% pat_topics.each do |topic| %>
            <% last_update = topic.updates.last %>
            <% if topic.updates.last.topic_status == 'cured' %>
              <div class="dash-topic">
                <%= link_to patient_updates_path(@patient, query: topic.title) do %>
                  <ul style="width: 100%; min-width: 100%;">
                    <li style="width: 5%">
                      <i class="fas fa-circle fa-lg"></i>
                    </li>
                    <li style="width: 35%" class="dash-topic-title"><p><strong><%= topic.title %></strong> <span class="small code">(<%= topic.subcode %>)</span></p></li>
                    <li style="width: 35%" class="dash-topic-category">
                      <%= image_tag("category_icons/#{last_update.topic.category.icon_url}", size: "40x40", class: "svg-icon-gray", style: "color: grey", alt: "#{last_update.topic.category.subject.capitalize}") %>
                      <div class="subject"><%= last_update.topic.category.subject %></div>
                    </li>
                    <li style="width: 35%">
                      <p>Updated: <strong><%= last_update.created_at.strftime('%d-%m-%y') %></strong></p>
                      <p class="last-by">By: <strong><%= "Dr. " if last_update.user.user_type == 'doctor' %><%= last_update.user.first_name %> <%= last_update.user.last_name %></strong></p>
                    </li>
                  </ul>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>

      <div class="dash-new-info">
        <div class="dash-updates">

          <button data-toggle="collapse" data-target="#dash-table-update">
            <div class="dash-title">
              <div class="dash-title-left">
                  <h4>Updates</h4>

                  <% new_updates = pat_updates.select{ |update| update.read_at.nil? } %>
                  <% if new_updates.count.positive? %>
                    <h4 class="news"><%= new_updates.count %> New</h4>
                  <% end %>
                  <h4><%= "/ " if new_updates.count.positive? %><%= pat_updates.count %></h4>
              </div>

              <div class="dash-title-right">
                  <% if pat_updates.count.positive? %>
                    <%= link_to patient_updates_path(@patient), class: "btn btn-default" do %>
                      <i class="fas fa-search-plus fa-lg"></i>
                    <% end %>
                  <% end %>
              </div>
            </div>
          </button>

          <div class="dash-table collapse" id="dash-table-update">
            <% new_updates.each do |update| %>
              <div class="show-new">
                <%= link_to patient_updates_path(@patient, query: update.topic.title) do %>
                  <ul style="width: 100%; min-width: 100%;">
                    <li style="width: 12%">
                      <%= cl_image_tag(update.user.photo, class: "avatar-sm", alt: "#{"Dr. " if update.user.user_type == 'doctor' } #{update.user.first_name} #{update.user.last_name}") %>
                    </li>
                    <li class="highlight" style="width: 18%"><%= "Dr." if update.user.user_type == 'doctor' %> <%= update.user.first_name %> <%= update.user.last_name %>
                    </li>
                    <li style="width: 30%"><strong><%= update.topic.title %></strong></li>
                    <li style="width: 25%"><i class="fas fa-circle signal-short-<%= update.topic_status.split.first %>"></i> <%= update.topic_status.capitalize %></li>
                    <li style="width: 15%"><%= update.created_at.strftime('%d-%m-%y') %></li>
                  </ul>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="dash-exams">

          <button data-toggle="collapse" data-target="#dash-table-exams">
            <div class="dash-title">
              <div class="dash-title-left">
                <h4>Exams</h4>

                <% new_exams = pat_exams.select{ |doc| doc.read_at.nil? } %>
                <% if new_exams.count.positive? %>
                  <h4 class="news"><%= new_exams.count %> New</h4>
                <% end %>
                <h4><%= "/ " if new_exams.count.positive? %><%= pat_exams.count %></h4>
              </div>

              <div class="dash-title-right">
                <% if pat_updates.count.positive? %>
                  <%= link_to patient_documents_path(@patient), class: "btn btn-default" do %>
                    <i class="fas fa-search-plus fa-lg"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </button>

          <div class="dash-table collapse" id="dash-table-exams">
            <% new_exams.each do |exam| %>
              <div class="show-new">
                <%= link_to patient_documents_path(@patient, query: exam.doc_title) do %>
                  <ul style="width: 100%; min-width: 100%;">
                    <li style="width: 12%">
                      <%= cl_image_tag(exam.user.photo, class: "avatar-sm", alt: "#{"Dr. " if exam.user.user_type == 'doctor' } #{exam.user.first_name} #{exam.user.last_name}") %>
                    </li>
                    <li class="highlight" style="width: 18%"><%= "Dr." if exam.user.user_type == 'doctor' %> <%= exam.user.first_name %> <%= exam.user.last_name %>
                    </li>
                    <li style="width: 30%"><strong><%= exam.doc_title %></strong></li>
                    <li style="width: 25%"><%= exam.exam_type %></li>
                    <li style="width: 15%"><%= exam.created_at.strftime('%d-%m-%y') %></li>
                  </ul>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="dash-documents">

          <button data-toggle="collapse" data-target="#dash-table-documents">
            <div class="dash-title">
              <div class="dash-title-left">
                <h4>Documents</h4>

                <% new_documents = pat_documents.select{ |doc| doc.read_at.nil? } %>
                <% if new_documents.count.positive? %>
                  <h4 class="news"><%= new_documents.count %> New</h4>
                <% end %>
                <h4><%= "/ " if new_documents.count.positive? %><%= pat_documents.count %></h4>
              </div>

              <div class="dash-title-right">
                <%= link_to patient_documents_path(@patient), class: "btn btn-default" do %>
                  <i class="fas fa-search-plus fa-lg"></i>
                <% end %>
              </div>
            </div>
          </button>

          <div class="dash-table collapse" id="dash-table-documents">
            <% new_documents.each do |doc| %>
              <div class="show-new">
                <%= link_to patient_documents_path(@patient, query: doc.doc_title) do %>
                  <ul style="width: 100%; min-width: 100%;">
                    <li style="width: 12%">
                      <%= cl_image_tag(doc.user.photo, class: "avatar-sm", alt: "#{"Dr. " if doc.user.user_type == 'doctor' } #{doc.user.first_name} #{doc.user.last_name}") %>
                    </li>
                    <li class="highlight" style="width: 18%"><%= "Dr." if doc.user.user_type == 'doctor' %> <%= doc.user.first_name %> <%= doc.user.last_name %>
                    </li>
                    <li style="width: 30%"><strong><%= doc.doc_title %></strong></li>
                    <li style="width: 25%"><%= doc.doc_type %></li>
                    <li style="width: 15%"><%= doc.created_at.strftime('%d-%m-%y') %></li>
                  </ul>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="dash-schedules">

          <button data-toggle="collapse" data-target="#dash-table-schedules">
            <div class="dash-title">
              <div class="dash-title-left">
                <h4>Prescriptions</h4>

                <% new_schedules = pat_schedules.select{ |sc| sc.read_at.nil? } %>
                <% if new_schedules.count.positive? %>
                  <h4 class="news"><%= new_schedules.count %> New</h4>
                <% end %>
                <h4><%= "/ " if new_schedules.count.positive? %><%= pat_schedules.count %></h4>
              </div>

              <div class="dash-title-right">
                <%= link_to patient_schedules_path(@patient), class: "btn btn-default" do %>
                  <i class="fas fa-search-plus fa-lg"></i>
                <% end %>
              </div>
            </div>
          </button>

          <div class="dash-table collapse" id="dash-table-schedules">
            <% new_schedules.each do |sc| %>
              <div class="show-new">
                <%= link_to patient_schedules_path(@patient, query: sc.sc_title) do %>
                  <ul style="width: 100%; min-width: 100%;">
                    <li style="width: 12%">
                      <%= cl_image_tag(sc.user.photo, class: "avatar-sm", alt: "#{"Dr. " if sc.user.user_type == 'doctor' } #{sc.user.first_name} #{sc.user.last_name}") %>
                    </li>
                    <li class="highlight" style="width: 18%"><%= "Dr." if sc.user.user_type == 'doctor' %> <%= sc.user.first_name %> <%= sc.user.last_name %>
                    </li>
                    <li style="width: 30%"><strong><%= sc.sc_title %></strong></li>
                    <li style="width: 20%">
                      <% if (sc.schedule.nil? && sc.dosage.nil?) %>
                        <%= sc.sc_type %>
                      <% elsif sc.schedule.nil? %>
                        <%= sc.dosage %>
                      <% else %>
                        <%= sc.schedule %> <br>
                        (<%= sc.dosage %>)
                      <% end %>
                    </li>
                    <li style="width: 25%">
                      Start: <%= sc.date_start.strftime('%d-%m-%y') %>
                      <br>
                      <% if sc.date_end.year == 9999 %>
                        End: T.B.D.
                      <% else %>
                        End: <%= sc.date_end.strftime('%d-%m-%y') %>
                      <% end %>
                    </li>
                  </ul>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
