<div class="boilerplate">

  <div class="auth">
    <div class="container">
      <div class="auth__inner">
        <div class="auth__media">
          <%= image_tag('undraw_selfie1_kpqf.svg') %>
        </div>
        <div class="auth__auth">
          <h1 class="auth__title">Access your account</h1>
          <p>Fill in your email and password to proceed</p>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", :class => 'button button__accent' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

      </div>
        </div>
      </div>
    </div>
  </div>
<script src='js/app.min.js'></script>
