<div class="container list-page updates content">
  <div class="row">
    <h2>Updates</h2>
  </div>

  <div class="row">
    <div class="action-header">

      <!-- Mobile header -->

      <div class="mobile">
         <div class="actions col-xs-12 text-center">
          <%= link_to "Add Update", new_patient_update_path, class: "btn btn-default" %>
          <br>
          <%= link_to "Health Topics", patient_topics_path(@patient), class: "btn btn-default" %>
          <br>
          <%#= link_to "Active Topics", patient_path(@patient), class: "btn btn-default" %>
        </div>
      </div>

      <div class="search col-xs-12 col-md-6 mobile">
        <%= form_tag patient_updates_path, method: :get, class: "search-form" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an update"
          %>
          <%= button_tag(type: 'submit', class: "btn btn-search") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>

      <!-- Desktop header  -->

      <div class="search col-xs-12 col-md-6 desktop">
        <%= form_tag patient_updates_path, method: :get, class: "search-form" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find by topic, code, doctor, specialty or status"
          %>
          <%= button_tag(type: 'submit', class: "btn btn-search") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>

      <div class="desktop">
        <div class="actions col-xs-12 col-md-4 col-md-offset-2">
          <%= link_to "Add Update", new_patient_update_path, class: "btn btn-default" %>
          <br>
          <%= link_to "Health Topics", patient_topics_path(@patient), class: "btn btn-default" %>
          <br>
          <%#= link_to "Full Log", patient_path(@patient), class: "btn btn-default" %>
        </div>
      </div>

    </div>
  </div>

  <!-- Table container for data -->

  <div class="table-container">

    <!-- Header row -->

    <div class="header-row">
      <div class="row">
        <ul>
          <li class="col col-xs-3">Category / Topic</li>
          <li class="col col-xs-3">Updated By</li>
          <li class="col col-xs-2">Date</li>
          <li class="col col-xs-2">Status</li>
          <li class="col col-xs-2">Changes</li>
        </ul>
      </div>
    </div>

    <!-- Each info row -->
    <% if @updates.count.zero? %>
      <p class="nothing">Nothing to show</p>
    <% end %>

    <% @updates.each do |update| %>

      <div class='show-row'>

        <ul class="item-row row">

          <% if update.read_by.nil? %>
            <%= link_to read_patient_update_path(@patient, update, query: params[:query]), class: "new-flag" do %>
              <i class="fas fa-exclamation-circle fa-lg"></i>
            <% end %>
          <% end %>

          <div class="hidden-buttons">
          </div>

          <li class="topic-title col col-xs-3">
            <%= image_tag("category_icons/#{update.topic.category.icon_url}", size: "40x40", class: "svg-icon", alt: "#{update.topic.category.subject.capitalize}") %>
            <p><strong><%= update.topic.title %></strong>
            <span class="small code">(<%= update.topic.subcode %>)</span></p>
          </li>

          <li class="topic-doctor col col-xs-3">
            <div class="avatar-container">
              <%= cl_image_tag(update.user.photo, class: "avatar-md", alt: "Dr. #{update.user.first_name} #{update.user.last_name}") %>
            </div>
            <div class="update">
              <p><strong><%= "Dr. #{update.user.first_name} #{update.user.last_name}" %></strong></p>
              <% if update.user.user_type == "doctor" %>
                <p class="small"><%= update.user.doc_specialties[0] %></p>
              <% end %>
            </div>
          </li>

          <li class="update-date col col-xs-2">
            <p><%= update.created_at.strftime("%d-%m-%y") %>
              <% if update == Update.where(topic: update.topic).last %>
                <i class="fas fa-star"></i>
              <% end %>
            </p>
          </li>

          <% case update.topic_status %>
          <% when 'diagnosed' %>
            <% status_class = 'diagnosed' %>
          <% when 'under treatment' %>
            <% status_class = 'under_treatment' %>
          <% else %>
            <% status_class = 'cured' %>
          <% end %>

          <li class="topic-laststatus col-xs-2">
            <div class="signal <%= status_class %>">
              <p class="<%= status_class %>"><%= update.topic_status.capitalize %></p>
            </div>
          </li>

          <li class="update-changes col col-xs-2">

            <% previous_update = update.class.where("id < ?", update.id).select{|up| up.topic_id == update.topic_id}.last %>

            <% if previous_update.nil? %>
              <p><i class='fas fa-check-circle'></i> Analysis</p>
              <p><i class='fas fa-check-circle'></i> Next Steps</p>
              <p><i class='fas fa-check-circle'></i> Status</p>

            <% else %>

              <% icon_dia = update.diagnosis != previous_update.diagnosis ? "fas fa-check-circle" : "far fa-circle" %>
              <p><i class='<%= icon_dia %>'></i> Analysis</p>

              <% icon_ns = update.next_steps != previous_update.next_steps ? "fas fa-check-circle" : "far fa-circle" %>
              <p><i class='<%= icon_ns %>'></i> Next Steps</p>

              <% icon_hs = update.topic_status != previous_update.topic_status ? "fas fa-check-circle" : "far fa-circle" %>
              <p><i class='<%= icon_hs %>'></i> Status</p>

            <% end %>
          </li>
        </ul>

        <ul class="hidden-row">

          <% if update.next_steps.count.zero? %>
            <li class="topic-current col col-xs-12 col-sm-12">
              <p><strong>Analysis</strong></p>
              <p><%= update.diagnosis %></p>
            </li>
          <% else %>
            <li class="topic-current col col-xs-12 col-sm-8">
              <p><strong>Analysis</strong></p>
              <p><%= update.diagnosis %></p>
            </li>
            <li class="topic-ns col col-xs-12 col-sm-4">
              <p><strong>Next Steps</strong></p>
              <ul>
                <% update.next_steps.each do |ns| %>
                  <li><%= ns %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    </div>
  </div>
</div>

