<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DocPat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>
  <body class="<%= controller_name %>_<%= action_name %>">
    <%= render 'shared/navbar' unless controller_name == "pages" %>
    <%= render 'shared/sidebar' if ['patients', 'topics', 'updates', 'documents', 'schedules'].include?(controller_name) && !(controller_name == "patients" && action_name == "show") %>
    <%= render 'shared/flashes' %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%#= render 'shared/footer' %>
  </body>
</html>
